body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7ec0ee;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    border: 2px solid #000;
}

#score {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: black;
}