body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7ec0ee;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#game-container {
    display: none;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 2px solid #000;
}

#score {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: black;
}

#beforeGame{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#players-div div{
    gap: 10px;
}

#players-div  p{
    margin: 0px;
}

#players-div{
    display: flex;
    align-items: center;
    flex-direction: column;
}