body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7ec0ee;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    touch-action: manipulation;
    /* Ensure touch events are not delayed
    max-width: 100vw;
    max-height: 100vh;
    position: fixed; */
}

#game-container {
    display: none;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 2px solid #000;
}

#score {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: black;
}

#beforeGame {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#players-div div {
    gap: 10px;
}

#players-div p {
    margin: 0px;
}

#players-div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

* {
    user-select: none;
    -webkit-user-select: none;
}


table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}


table th {
    font-size: 20px;
}

.playerCard > .playerStatus{
    position: relative; 
    top: -20px;
    right: 28px;
}

.playerBird {
    width: 60px;
}

.playerCard > p{
    margin: 0px;
    text-align: center;
    max-width: 60px;
    overflow: hidden;
    hyphens: none;
    word-wrap: normal;
    white-space: nowrap;
}

#playerCards{
    display: flex;
}